<%- include('partials/header') %>
<div class="welcome-container">
    <h1>Welcome</h1>
    <div class="welcome-buttons">
    <a href="/login" class="welcome-btn">Login</a>
    <a href="/register" class="welcome-btn">Register</a>
    </div>
</div>
</main>  
</body>
</html>
