html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*user header*/
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40;
  color: white;
  padding: 15px 30px;
  margin-bottom: 20px;
  width: 100%;
}

.header-left,
.header-center,
.header-right {
  flex: 1;
  text-align: center;
}

.header-left {
  text-align: left;
  font-weight: 600;
}

.header-right {
  text-align: right;
}

.logout-btn {
  background-color: #f18c5c;
  padding: 8px 16px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.logout-btn:hover {
  background-color: #99634a;
  color: white;
}

/*user home info*/
.user-info {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.user-info h2 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

.goal-text {
  font-size: 1em;
  color: #6c757d; 
  font-style: italic;
}

/*kalendar*/
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
  width: 50%;
  justify-self: center;
  margin-top: 20px;
}

.day-cell {
  border: 1px solid #ccc;
  border-radius: 55px;
  background-color: #f9f9f9;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  width: 110px;
  height: 110px;
  position: relative;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.day-number {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.day-form {
  display: none;
  flex-direction: column;
  width: 100%;
}

.day-form label {
  font-weight: 600;
  margin-top: 5px;
}

.day-form select, .day-form button {
  width: 100%;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 5px;
}

.day-form button {
  background-color: #343a40;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.day-form button:hover {
  background-color: #23272b;
}

/* Zobrazit formulář při hoveru */
.day-cell:hover .day-form {
  display: flex;
  position: absolute;
  top: 40px;
  left: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 12px;
  z-index: 10;
  width: 120px;
}

.day-cell.filled {
  background-color: #f18c5c ; /* černá s !important pro jistotu */
  color: rgb(73, 54, 54) ;
  box-shadow: 0 0 10px rgba(83, 45, 45, 0.2);
}

/*dosazeni cile*/
.goal-question {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border: #f18c5c 2px solid ;
  box-shadow: 0 0 10px rgba(83, 45, 45, 0.2);
  color: #343a40;
  padding: 20px;
  margin-top: 30px;
  border-radius: 35px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.goal-question form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.goal-question form select {
  width: 40%;
  border-radius: 50px;
  padding: 5px 0;
  text-align: center;
}

.goal-question form button {
  width: 30%;
  border-radius: 50px;
}


/*footer*/
.site-footer {
  margin-top: 50px;
  padding: 20px 0px 0px 0px;
  background-color: #343a40;
  color: white;
  text-align: center;
  font-size: 0.9em;
  width: 100%;
}

.site-footer a {
  color: #f8f9fa;
  text-decoration: underline;
}

.site-footer a:hover {
  color: #ffc107;
}

/*welcome stranka*/
.welcome-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-container h1 {
  font-size: 3em;
  color: #343a40;
  margin-bottom: 40px;
}

.welcome-buttons {
  display: flex;
  gap: 20px;
}

.welcome-btn {
  background-color: #f18c5c;
  color: white;
  padding: 12px 24px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.welcome-btn:hover {
  background-color: #99634a;
  color: white;
}

/*media queries*/
/*mobil*/
@media (max-width: 600px) {
  .welcome-container h1 {
    margin-bottom: 20px;
  }

  .welcome-buttons {
    gap: 15px;
    width: 60%;
  }

  .welcome-btn {
    width: 80%;
    font-size: 1em;
    padding: 10px 20px;
  }

  .goal-question {
    width: 90%;
    padding: 15px;
    border-radius: 25px;
  }

  .goal-question form select,
  .goal-question form button {
    width: 80%;
  }

  .calendar-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }

  .day-cell {
    width: 100%;
    height: 100px;
  }
}

/*tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .welcome-container h1 {
    font-size: 6em;
    margin-bottom: 30px;
  }

  .welcome-buttons {
    gap: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .welcome-btn {
    font-size: 1.5em;
    padding: 25px 22px;
    width: 120%;
  }

  .goal-question {
    width: 60%;
  }

  .goal-question form select,
  .goal-question form button {
    width: 60%;
  }

  .calendar-grid {
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    justify-self: center;
  }

  .day-cell {
    width: 100px;
    height: 100px;
  }
}
